.qmake.stash
Makefile
Makefile.Debug
Makefile.Release
*.o
standAloneKinematicsDemo2
standAloneKinematicsDemo2.exe
Makefile.Debug
Makefile.Release
object_script.*.Debug
object_script.*.Release
release/
x64/
.vs/
*.user*
build-*
